<section class="about-me">
  <div class="swiper swiper-ab">
    <ul class="swiper-wrapper swiper-wrapper-ab">
      <li class="swiper-slide">
        <div class="swiper-slide-ab">HTML/CSS</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">JavaScript</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">React</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">Node.js</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">React Native</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">Soft skills</div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide-ab">Vue.js</div>
      </li>
    </ul>

    <div class="swiper-button-next swiper-button-next-ab"></div>
  </div>
</section>
