<section class="about-me">
  <div class="container">
    <div class="about-me-swiper-wrapper swiper">
      <ul class="about-me-swiper-list swiper-wrapper">
        <li class="about-me-swiper-item swiper-slide">HTML/CSS</li>
        <li class="about-me-swiper-item swiper-slide">JavaScript</li>
        <li class="about-me-swiper-item swiper-slide">React</li>
        <li class="about-me-swiper-item swiper-slide">Node.js</li>
        <li class="about-me-swiper-item swiper-slide">React Native</li>
        <li class="about-me-swiper-item swiper-slide">Soft skills</li>
      </ul>
      <button class="about-me-swiper-btn swiper-button-next" type="button">
        <svg class="about-me-swiper-btn-icon">
          <use href="../img/sprite.svg#arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
