@import 'swiper/css';
@import 'swiper/css/navigation';

.swiper-ab {
  width: 343px;
}

.swiper-slide-ab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100%;
  text-align: center;
}

.swiper-ab .swiper-slide-active {
  background-color: #ed3b44;
  border-radius: 100%;
  border: none;
}

.swiper-button-next-ab {
  color: transparent;
  background-image: url('../img/arrow-narrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 787px) {
  .swiper-ab .swiper-slide-next + .swiper-slide {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .swiper-ab {
    width: 704px;
  }

  .swiper-slide-ab {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .swiper-ab .swiper-slide-next + .swiper-slide + .swiper-slide {
    opacity: 0;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-ab {
    width: 1312px;
  }
  .swiper-ab
    .swiper-slide-next
    + .swiper-slide
    + .swiper-slide
    + .swiper-slide
    + .swiper-slide
    + .swiper-slide {
    opacity: 0;
  }
}
