.about-me {
  margin-top: 32px;
}

.about-me-swiper-wrapper {
  display: flex;
  position: relative;
}

.about-me-swiper-list {
  display: flex;
}

.about-me-swiper-btn {
  padding: 0;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-swiper-btn-icon {
  width: 28px;
  height: 28px;
}

.about-me-swiper-item {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100%;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 767px) {
  .about-me-swiper-item:nth-child(n + 3) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    margin-top: 64px;
  }

  .about-me-swiper-btn {
    width: 40px;
    height: 40px;
  }

  .about-me-swiper-btn-icon {
    width: 40px;
    height: 40px;
  }

  .about-me-swiper-item {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-me-swiper-item:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    margin-top: 96px;
  }
}
