body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;
  color: #fafafa;
}

main {
  flex-grow: 1;
}
